extends layout

block content
  h1= title
  p Number of words:
  p
    b #{NumberOfWords}
  p Number of unique words:
    p
    b #{NumberOfUniqueWords }
  p Top 10 words:
  p
    b #{TopWords}
  p Top 10 pair words:
  p
    b #{TopWordsPairs}
